.container{
    background-color:#425237;
    padding: 10px 24px;
    border-radius: 20px;
    width: 490px;
    height: 300px;
    margin-left: 750px;
  }
  
  h1{
    color:#060606;
    text-align: center;
    margin-bottom: 0.5em;
    font-family: sans-serif;
    margin-top: 300px;
  }
  .container .box{
    width: 100%;
    display: flex;
  }
  .box div{
    width: 100%;
  }
  
  select{
    width: 95%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    background-color:coral;
    outline: none;
    color: black;
    margin: 0.2em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
    margin-top:40px;
  }
  
  
  input{
    width: 80%;
    height: 40px;
    font-size: 1em;
    margin: 0.2em 0;
    border-radius: 10px;
    border: none;
    background: #f8ecec;
    outline: none;
    padding: 0 1em;
    margin-top: 30px;
    
  }
  
  .btn{
    display:flex;
    justify-content: center;
  }
  
  button{
    width: 70%;
    height: 40px;
    background-color:#f3ca44;
    color: #102770;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 30px;
  
  }